<h2> Stores </h2>
<%= link_to 'New Store', new_store_path %>

<table>
        <thead>
                <td>Name</td>
                <td>Edit</td>
                <td>Delete</td>
        </thead>
        <tbody>
                <% @stores.each do |store| %>
                        <tr>
                                <td><%= link_to store.name, store_path(store) %></td>
                                <td><%= store.sneakers.name %></td>
                                <td><%= link_to 'Edit', edit_store_path(store) %></td>
                                <td><%= link_to 'Delete', store_destroy_path(store), method: :post %></td>
                        </tr>
                <% end %>
        </tbody>
</table>